.wrapper {
  display: grid;
  grid-template-columns: 1fr min(150ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}
.wrapper > * {
  grid-column: 2;
  border: black solid 1px;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}
/* above is from https://www.joshwcomeau.com/css/full-bleed/  */

header, footer {
  
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0127239b;
  border: solid #42023a 2px;
  box-shadow: inset 0 0 100px rgba(3, 3, 3, 0.363), 0 0 50px rgba(240, 8, 8, 0.137);

}

header {
  position: sticky;
  padding: 10px;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 8px;
}
footer {
  justify-self: center;
  gap: 25px;
  position: absolute;
  bottom: 0;
  width: min(150ch, calc(100% - 64px));
  justify-content: center;
}


.logo {
  height: 50px;
}
h1 {
  text-align: center;
  font-size: 30px;
}