/* .wrapper {
  display: grid;
  grid-template-columns: 1fr min(85ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
} */
/* .wrapper > * {
  grid-column: 2;
  border: black solid 1px;
} */
/* .full-bleed {
  width: 100%;
  grid-column: 1 / -1;
} */
/* above is from https://www.joshwcomeau.com/css/full-bleed/  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body {
  height: 100%;
}

html { 
  min-height: 100%;
  background: url("images/JeffersonHuntMarch2020.JPG") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow:inset 0 0 50vw rgba(5, 4, 9, 0.986);
}


header, footer {
  
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #012723c6;
  border: solid #42023a 2px;
  box-shadow: inset 0 0 25px rgba(3, 3, 3, 0.87), 0 0 50px rgba(74, 10, 73, 0.504);

}

header {
  font-size: larger;
  position: fixed;
  top: 0;
  padding: 10px;
  height: 100px;
  width: 100%;
  margin-bottom: 100px;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 8px;
}
footer {
  margin-left: 0;
  justify-self: center;
  gap: 25px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 45px;
  justify-content: center;
}

.logo {
  height: 80px;
}

/*  adding boxes and outlines to content */
.sidebar, .info-container {
  background-color: #ffffffeb;
  border: solid #42023a 2px;
  box-shadow: inset 0 0 100px rgba(3, 3, 3, 0.363), 0 0 50px rgba(240, 8, 8, 0.137);
  border-radius: 10px;
  padding: 10px;
}

h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
}

.content-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 25px;
  max-width: 85vw;

}

.sidebar {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  height: fit-content;
}
.links {
  display: flex;
  flex-direction: column;
}

.info-container {
  width: 85ch;
  right: 0;
  height: fit-content;
}
.home-screen {
  display: flex;
  justify-content: center;
}
